In [1]:
import import_ipynb
import IntimeLibrary as il
import pandas as pd
import FlieLibrary as fl

importing Jupyter notebook from IntimeLibrary.ipynb
importing Jupyter notebook from FlieLibrary.ipynb

In [2]:
print(fl.flight_from_cju.head(10))
print(fl.flight_to_gmp.head(10))
print(fl.flight_from_gmp.head(10))
print(fl.flight_to_cju.head(10))

         날짜     항공사    계획    출발  현황  time          TM
0  20181001  아시아나항공  6:30  6:37  출발     6  2018100106
1  20181001  아시아나항공  6:40  6:44  출발     6  2018100106
2  20181001    대한항공  7:00  7:09  출발     7  2018100107
3  20181001     진에어  7:05  7:21  출발     7  2018100107
4  20181001    제주항공  7:40  7:54  출발     7  2018100107
5  20181001  아시아나항공  7:55  8:02  출발     7  2018100107
6  20181001   티웨이항공  7:55  8:05  출발     7  2018100107
7  20181001    대한항공  8:00  8:15  출발     8  2018100108
8  20181001     진에어  8:05  8:19  출발     8  2018100108
9  20181001   이스타항공  8:10  8:40  지연     8  2018100108
         날짜     항공사    계획    도착  현황  time          TM
0  20181001  아시아나항공  7:40  7:25  도착     7  2018100107
1  20181001  아시아나항공  7:50  7:29  도착     7  2018100107
2  20181001     진에어  8:10  8:12  도착     8  2018100108
3  20181001    대한항공  8:10  7:59  도착     8  2018100108
4  20181001    제주항공  8:50  8:42  도착     8  2018100108
5  20181001  아시아나항공  9:05  8:48  도착     9  2018100109
6  20181001   티웨이항공  9:05  8:55  도착     9  2018100109
7  20181001    대한항공  9:10  9:02  도착     9  2018100109
8  20181001   이스타항공  9:15  9:26  도착     9  2018100109
9  20181001     진에어  9:15  9:05  도착     9  2018100109
         날짜     항공사    계획    출발  현황  time          TM
0  20181001     진에어  6:05  6:21  출발     6  2018100106
1  20181001  아시아나항공  6:05  6:13  출발     6  2018100106
2  20181001     진에어  6:10  6:18  출발     6  2018100106
3  20181001   이스타항공  6:10  6:24  출발     6  2018100106
4  20181001    제주항공  6:15  6:33  출발     6  2018100106
5  20181001   이스타항공  6:15  6:18  출발     6  2018100106
6  20181001    제주항공  6:25  6:38  출발     6  2018100106
7  20181001  아시아나항공  6:25  6:43  출발     6  2018100106
8  20181001   티웨이항공  6:40  6:46  출발     6  2018100106
9  20181001   이스타항공  6:50  7:07  출발     6  2018100106
         날짜     항공사    계획    도착  현황  time          TM
0  20181001  아시아나항공  7:15  6:59  도착     7  2018100107
1  20181001   이스타항공  7:20  7:20  도착     7  2018100107
2  20181001     진에어  7:20  7:16  도착     7  2018100107
3  20181001   이스타항공  7:25  7:24  도착     7  2018100107
4  20181001     진에어  7:25  7:13  도착     7  2018100107
5  20181001    제주항공  7:30  7:30  도착     7  2018100107
6  20181001    제주항공  7:35  7:33  도착     7  2018100107
7  20181001  아시아나항공  7:35  7:40  도착     7  2018100107
8  20181001   티웨이항공  7:50  7:44  도착     7  2018100107
9  20181001   이스타항공  7:55  8:00  도착     7  2018100107

In [3]:
def delay_time(df,e):
    if e==0:
        ename = df.출발
    else:
        ename = df.도착
        
    df['sSplit'] = df.계획.apply(lambda x: str(x).split(':'))
    df['stemp'] = df.sSplit.apply(lambda x: int(x[0])*60+int(x[1]))
        
    df['eSplit'] = ename.apply(lambda x: str(x).split(':'))
    df['etemp'] = df.eSplit.apply(lambda x: int(x[0])*60 + int(x[1]) if (x[0]!='' and x[1]!='') else "None")
        
    delaytime = list()    
    for i in range(len(df)):
        if df.etemp[i] != "None":
            delaytime.append(df.etemp[i]-df.stemp[i])
        else:
            delaytime.append("None")
    df['delayTime'] = delaytime
    df.drop(['sSplit','stemp','eSplit','etemp'], axis=1, inplace=True)

In [4]:
delay_time(fl.flight_from_cju,0)
delay_time(fl.flight_to_gmp,1)
delay_time(fl.flight_from_gmp,0)
delay_time(fl.flight_to_cju,1)

In [5]:
print(fl.flight_from_cju.head(10))
print(fl.flight_to_gmp.head(10))
print(fl.flight_from_gmp.head(10))
print(fl.flight_to_cju.head(10))

         날짜     항공사    계획    출발  현황  time          TM delayTime
0  20181001  아시아나항공  6:30  6:37  출발     6  2018100106         7
1  20181001  아시아나항공  6:40  6:44  출발     6  2018100106         4
2  20181001    대한항공  7:00  7:09  출발     7  2018100107         9
3  20181001     진에어  7:05  7:21  출발     7  2018100107        16
4  20181001    제주항공  7:40  7:54  출발     7  2018100107        14
5  20181001  아시아나항공  7:55  8:02  출발     7  2018100107         7
6  20181001   티웨이항공  7:55  8:05  출발     7  2018100107        10
7  20181001    대한항공  8:00  8:15  출발     8  2018100108        15
8  20181001     진에어  8:05  8:19  출발     8  2018100108        14
9  20181001   이스타항공  8:10  8:40  지연     8  2018100108        30
         날짜     항공사    계획    도착  현황  time          TM delayTime
0  20181001  아시아나항공  7:40  7:25  도착     7  2018100107       -15
1  20181001  아시아나항공  7:50  7:29  도착     7  2018100107       -21
2  20181001     진에어  8:10  8:12  도착     8  2018100108         2
3  20181001    대한항공  8:10  7:59  도착     8  2018100108       -11
4  20181001    제주항공  8:50  8:42  도착     8  2018100108        -8
5  20181001  아시아나항공  9:05  8:48  도착     9  2018100109       -17
6  20181001   티웨이항공  9:05  8:55  도착     9  2018100109       -10
7  20181001    대한항공  9:10  9:02  도착     9  2018100109        -8
8  20181001   이스타항공  9:15  9:26  도착     9  2018100109        11
9  20181001     진에어  9:15  9:05  도착     9  2018100109       -10
         날짜     항공사    계획    출발  현황  time          TM delayTime
0  20181001     진에어  6:05  6:21  출발     6  2018100106        16
1  20181001  아시아나항공  6:05  6:13  출발     6  2018100106         8
2  20181001     진에어  6:10  6:18  출발     6  2018100106         8
3  20181001   이스타항공  6:10  6:24  출발     6  2018100106        14
4  20181001    제주항공  6:15  6:33  출발     6  2018100106        18
5  20181001   이스타항공  6:15  6:18  출발     6  2018100106         3
6  20181001    제주항공  6:25  6:38  출발     6  2018100106        13
7  20181001  아시아나항공  6:25  6:43  출발     6  2018100106        18
8  20181001   티웨이항공  6:40  6:46  출발     6  2018100106         6
9  20181001   이스타항공  6:50  7:07  출발     6  2018100106        17
         날짜     항공사    계획    도착  현황  time          TM delayTime
0  20181001  아시아나항공  7:15  6:59  도착     7  2018100107       -16
1  20181001   이스타항공  7:20  7:20  도착     7  2018100107         0
2  20181001     진에어  7:20  7:16  도착     7  2018100107        -4
3  20181001   이스타항공  7:25  7:24  도착     7  2018100107        -1
4  20181001     진에어  7:25  7:13  도착     7  2018100107       -12
5  20181001    제주항공  7:30  7:30  도착     7  2018100107         0
6  20181001    제주항공  7:35  7:33  도착     7  2018100107        -2
7  20181001  아시아나항공  7:35  7:40  도착     7  2018100107         5
8  20181001   티웨이항공  7:50  7:44  도착     7  2018100107        -6
9  20181001   이스타항공  7:55  8:00  도착     7  2018100107         5

In [6]:
#20181001 - 20191001해당 요일
Date = 20181000
i = 0
count = 0
end_date = [31,30,31,31,28,31,30,31,30,31,31,30]
weekend = {}

while(Date<20190931): 
    day = Date%100
    month = ((Date%10000)-day)/100
    year = (Date-(Date%10000))/10000
    day = day + 1
    if day > end_date[i]:
        day = 1
        month = month + 1
        i = i+1
        if month == 13:
            year = year + 1
            month = 1
            day = 1
    Date = int((year*10000)+(month*100)+day)
    count = count + 1
    if count%7 == 1:
        weekend[Date] = "Mon"
    elif count%7 == 2:
         weekend[Date] = "TUE"
    elif count%7 == 3:
         weekend[Date] = "WED"
    elif count%7 == 4:
         weekend[Date] = "THU"
    elif count%7 == 5:
         weekend[Date] = "FRI"
    elif count%7 == 6:
         weekend[Date] = "SAT"
    elif count%7 == 0:
         weekend[Date] = "SUN"

In [7]:
def set_weekend(df):
    df['weekend'] = df.날짜.apply(lambda x: weekend[x])

In [8]:
set_weekend(fl.flight_to_cju)

In [9]:
fl.flight_to_cju

             날짜     항공사     계획     도착  현황  time          TM delayTime weekend
0      20181001  아시아나항공   7:15   6:59  도착     7  2018100107       -16     Mon
1      20181001   이스타항공   7:20   7:20  도착     7  2018100107         0     Mon
2      20181001     진에어   7:20   7:16  도착     7  2018100107        -4     Mon
3      20181001   이스타항공   7:25   7:24  도착     7  2018100107        -1     Mon
4      20181001     진에어   7:25   7:13  도착     7  2018100107       -12     Mon
...         ...     ...    ...    ...  ..   ...         ...       ...     ...
44517  20191001    대한항공  21:40  21:42  도착    21  2019100121         2     TUE
44518  20191001    제주항공  21:45  22:07  도착    21  2019100121        22     TUE
44519  20191001  아시아나항공  22:00  22:36  지연    22  2019100122        36     TUE
44520  20191001    대한항공  22:10  22:03  도착    22  2019100122        -7     TUE
44521  20191001  아시아나항공  22:30  22:32  도착    22  2019100122         2     TUE

[44522 rows x 9 columns]