In [1]:
import IntimeLib as il

In [2]:
df_181001 = il.mask_with_in1d(il.df_from_cju, "날짜", 20181001)

In [4]:
for i in range(len(df_181001)):
    if len(df_181001["계획"][i]) == 4:
        hour = int(df_181001["계획"][i][0:1])
    else:
        hour = int(df_181001["계획"][i][0:2])

In [5]:
print(il.df_to_gmp.head(5))

         날짜     항공사      출발지    계획    도착  현황
0  20181001  아시아나항공  CJU(제주)  7:40  7:25  도착
1  20181001  아시아나항공  CJU(제주)  7:50  7:29  도착
2  20181001     진에어  CJU(제주)  8:10  8:12  도착
3  20181001    대한항공  CJU(제주)  8:10  7:59  도착
4  20181001    제주항공  CJU(제주)  8:50  8:42  도착

In [6]:
print(il.weather_cju_01.head(5))

           TM  WD  WSPD  WS_GST   VIS  RVR1  RVR2  RVR3  RVR4  WC  ...  \
0  2018123124  33     5     NaN  1000   NaN   NaN   NaN   NaN NaN  ...
1  2019010101  34     7     NaN  1000   NaN   NaN   NaN   NaN NaN  ...
2  2019010102  31     9     NaN  1000   NaN   NaN   NaN   NaN NaN  ...
3  2019010103  31    12     NaN  1000   NaN   NaN   NaN   NaN NaN  ...
4  2019010104  31    12     NaN  1000   NaN   NaN   NaN   NaN NaN  ...

   BASE_2LYR  CLF_2LYR  CLA_3LYR  BASE_3LYR  CLF_3LYR  CLA_4LYR  BASE_4LYR  \
0        NaN       NaN       NaN        NaN       NaN       NaN        NaN
1        NaN       NaN       NaN        NaN       NaN       NaN        NaN
2        NaN       NaN       NaN        NaN       NaN       NaN        NaN
3        NaN       NaN       NaN        NaN       NaN       NaN        NaN
4        NaN       NaN       NaN        NaN       NaN       NaN        NaN

   CLF_4LYR        Date  Time
0       NaN  2018-12-31    24
1       NaN  2019-01-01    01
2       NaN  2019-01-01    02
3       NaN  2019-01-01    03
4       NaN  2019-01-01    04

[5 rows x 31 columns]