In [1]:
import import_ipynb
import IntimeLibrary as il
import FlieLibrary as fl
import pandas as pd
import numpy as np
from urllib.request import urlopen
from xml.etree.ElementTree import parse

importing Jupyter notebook from IntimeLibrary.ipynb
importing Jupyter notebook from FlieLibrary.ipynb

c:\users\kss09\appdata\local\programs\python\python37\lib\site-packages\pandas\core\frame.py:7123: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

In [2]:
#None값 열 제거
# tempDt = fl.depart_data['delayTime']
# fl.depart_data.dropna(axis=1, inplace=True)
# fl.depart_data['delayTime'] = tempDt

In [3]:
# fl.depart_data.head()

In [4]:
# fl.depart_data.drop(["time", "날짜"],axis=1, inplace=True)

In [5]:
# settingData = pd.DataFrame(fl.depart_data)
# settingData.to_csv('settingData.csv', encoding='cp949')

In [6]:
df = pd.read_csv("settingData.csv", encoding='cp949')

In [7]:
# CJU_people = {}
# CJU_congest = {}
# GMP_people = {}
# GMP_congest = {}

In [8]:
key = ''
def get_person(airport,Date):
    for p in range(1,3):
        u = urlopen('http://openapi.airport.co.kr/service/rest/dailyExpectPassenger/dailyExpectPassenger?schDate='+str(Date)+'&schAirport='+airport+'&schTof=D&ServiceKey='+key+'&pageNo='+str(p))
        doc = parse(u)
        root = doc.getroot()

        if airport=='CJU':
            for item in root.iter("item"):
                TM = item.findtext('sdt')+item.findtext("hh")
                CJU_people[TM] = item.findtext('pct')
                CJU_congest[TM] = item.findtext('congestYn')
        elif airport=='GMP':
            for item in root.iter("item"):
                TM = item.findtext('sdt')+item.findtext("hh")
                GMP_people[TM] = item.findtext('pct')
                GMP_congest[TM] = item.findtext('congestYn')

In [9]:
# import time

In [10]:
# Date = 20181000
# i = 0
# end_date = [31,30,31,31,28,31,30,31,30,31,31,30]
# airport = ['CJU','GMP']

# for i in range(len(airport)):
    
#     airport = airport[i]
    
#     while(Date<2019080123): 
#         day = Date%100
#         month = ((Date%10000)-day)/100
#         year = (Date-(Date%10000))/10000
#         day = day + 1
#         if day > end_date[i]:
#             day = 1
#             month = month + 1
#             i = i+1
#             if month == 13:
#                 year = year + 1
#                 month = 1
#                 day = 1
#         Date = int((year*10000)+(month*100)+day)

#         get_person(airport,Date)
#         time.sleep(1)

In [11]:
# cju_person = pd.DataFrame()
# gmp_person = pd.DataFrame()

In [12]:
# cju_person['TM'] = list(CJU_people.keys())
# cju_person['cju_people'] = list(CJU_people.values())
# cju_person['cju_congest'] = list(CJU_congest.values())
# cju_person['Origin'] = '제주공항'

In [13]:
# gmp_person['TM'] = list(GMP_people.keys())
# gmp_person['gmp_people'] = list(GMP_people.values())
# gmp_person['gmp_congest'] = list(GMP_congest.values())
# gmp_person['Origin'] = '김포공항'

In [14]:
gp = pd.read_csv("gmp_person.csv", encoding='cp949')

In [15]:
cp = pd.read_csv("cju_person.csv", encoding='cp949')

In [16]:
gp['TM'].value_counts()

2019051519    1
2019070606    1
2019091121    1
2018122418    1
2019052212    1
             ..
2019030919    1
2019020318    1
2019040307    1
2018102611    1
2019051521    1
Name: TM, Length: 5840, dtype: int64

In [17]:
cp['TM'].value_counts()

2019051519    1
2019070606    1
2019091121    1
2018122418    1
2019052212    1
             ..
2019030919    1
2019020318    1
2019040307    1
2018102611    1
2019051521    1
Name: TM, Length: 5841, dtype: int64

In [18]:
dt = df["TM"].unique()

In [19]:
d = pd.concat([gp['TM'],cp['TM']]).drop_duplicates(keep=False)
gd = pd.concat([gp['TM'],df['TM']]).drop_duplicates(keep=False)
cd = pd.concat([cp['TM'],df['TM']]).drop_duplicates(keep=False)

In [20]:
d

80      2018100606
95      2018100622
3440    2019050322
Name: TM, dtype: int64

In [23]:
cp.loc[80]
#cp['TM'] = 2018100606 데이터 없음

Unnamed: 0             80
TM             2018100607
cju_people            115
cju_congest             N
Origin               제주공항
Name: 80, dtype: object

In [24]:
gp.loc[80]

Unnamed: 0             80
TM             2018100606
gmp_people            984
gmp_congest             N
Origin               김포공항
Name: 80, dtype: object

In [25]:
cp.loc[95]

Unnamed: 0             95
TM             2018100622
cju_people            189
cju_congest             N
Origin               제주공항
Name: 95, dtype: object

In [26]:
gp.loc[95]
#gp['TM'] = 2018100622 데이터 없음

Unnamed: 0             95
TM             2018100621
gmp_people            289
gmp_congest             N
Origin               김포공항
Name: 95, dtype: object

In [27]:
cp.loc[3440]

Unnamed: 0           3440
TM             2019050322
cju_people            200
cju_congest             N
Origin               제주공항
Name: 3440, dtype: object

In [28]:
gp.loc[3440]
#gp['TM'] = 2019050322 데이터 없음

Unnamed: 0           3440
TM             2019050406
gmp_people           3263
gmp_congest             Y
Origin               김포공항
Name: 3440, dtype: object

In [29]:
df['TM'].value_counts()

2018101913    41
2019071015    41
2018112114    40
2018101914    40
2019020614    40
              ..
2019040206    10
2019072007    10
2018100607     8
2019072006     4
2018100606     4
Name: TM, Length: 5083, dtype: int64

In [30]:
if df['ORIGIN']=='제주공항':
    df['people'] = df.TM.apply(lambda x: int(CJU_people[str(x)]))
    df['congest'] = df.TM.apply(lambda x: int(CJU_congest[str(x)]))
elif df['ORIGIN']=='김포공항':
    df['people'] = df.TM.apply(lambda x: int(GMP_people[str(x)]))
    df['congest'] = df.TM.apply(lambda x: int(GMP_congest[str(x)]))

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [31]:
# gmp_people_data = pd.DataFrame(gmp_person)
# gmp_people_data.to_csv('gmp_person.csv', encoding='cp949')

In [32]:
# cju_people_data = pd.DataFrame(cju_person)
# cju_people_data.to_csv('cju_person.csv', encoding='cp949')